#dest {
  font-family: sans-serif;
  background-color: #1F1F1F;
  color: white;
}

#dest {
  padding: 0;
  flex: 1;
}

#dest del {
  color: grey;
}

#dest a {
  color: steelblue;
}

#dest img {
  max-width: 100%;
}

#dest pre code {
  color: yellow;
}
